body{
    position: relative;
    width: 1340px;
    height: 1250px;
    margin-left: auto;
    margin-right: auto;
}

/* Title */
body .title {
    position: absolute;
    text-align: center;
    left: 558px;
    top: 15px;
}
body .title h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

/* Hotel Blue Haven */
body .blue_heven{
    position: absolute;
    width: 730px;
    height: 500px;
    margin-left: 165px;
    top: 150px;
    background: #0A223D;
    border-radius: 8px 8px 8px 8px;
    
}
body .blue_heven .image img{
    border-radius: 8px 0px 0px 8px;;
}
body .blue_heven .image .flash_offer{
    position: absolute;
    width: 95px;
    height: 30px;
    top: 26px;
    background: #EC1F46;
    border-radius: 0px 8px 8px 0px;
}
body .blue_heven .image .flash_offer span{
    position: absolute;
    width: 72px;
    height: 15px;
    left: 11px;
    top: 8px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: white;
}
body .blue_heven .about .hotel_name{
    position: absolute;
    width: 149px;
    height: 36px;
    left: 410px;
    top: 40px;
}
body .blue_heven .about .hotel_name .stars{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 48px;
    height: 8px;
    top: 5px;
    left: -1px;
}
body .blue_heven .about .hotel_name .stars img{
    width: 8px;
    height: 8px;
}
body .blue_heven .about .hotel_name p{
    position: absolute;
    width: 149px;
    height: 23px;
    left: auto;
    top: auto;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: white;
}
body .blue_heven .about .text p{
    position: absolute;
    width: 299px;
    height: 165px;
    left: 409px;
    top: 94px;
    font-family: 'Muli';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.22px;
    color: white;
}
body .blue_heven .about .room .address{
    position: absolute;
    width: 203px;
    height: 15px;
    left: 412px;
    top: 308px;
}
body .blue_heven .about .room .guests{
    position: absolute;
    width: 87px;
    height: 15px;
    left: 412px;
    top: 334px;    
}
body .blue_heven .about .room .hotel_room{
    position: absolute;
    width: 81px;
    height: 15px;
    left: 412px;
    top: 360px;
}
body .blue_heven .about .room p{
    position: absolute;
    top: -13px;
    left: 28px;
    width: 175px;
    height: 15px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.1px;
    color: white;
}
body .blue_heven .about .cost span{
    position: absolute;
    width: 58px;
    height: 18px;
    left: 412px;
    top: 412px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;    
    text-decoration-line: line-through;
    color:white;
}
body .blue_heven .about .sale_cost span{
    position: absolute;
    width: 85px;
    height: 30px;
    left: 412px;
    top: 435px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color:white;
}
body .blue_heven .about .book_now button{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 588px;
    top: 429px;
    background: #EC1F46;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: white;
    cursor: pointer;
}


/* LUX* Belle Mare */
body .belle_mare{
    position: absolute;
    width: 350px;
    height: 500px;
    margin-left: 925px;
    top: 150px;
    background: #0A223D;
    border-radius: 8px 8px 8px 8px;
}


/* White Palace */
body .white_palase{
   position: absolute;
   width: 350px;
   height: 500px;
   margin-left: 165px;
   top: 680px;
   background: #0A223D;
   border-radius: 8px 8px 8px 8px;
}    

/* Luxury Place */
body .luxury_palace{
    position: absolute;
    width: 350px;
    height: 500px;
    margin-left: 545px;
    top: 680px;
    background: #0A223D;
    border-radius: 8px 8px 8px 8px;
}

/* Hotel Five Star */
body .five_star{
    position: absolute;
    width: 350px;
    height: 500px;
    margin-left: 925px;
    top: 680px;
    background: #0A223D;
    border-radius: 8px 8px 8px 8px;
} 

/* схожие элементы */
body .image img{
    border-radius: 8px 8px 0px 0px;
}
body .image .flash_offer{
    position: absolute;
    width: 60px;
    height: 18px;
    top: 26px;
    background: #EC1F46;
    border-radius: 0px 4px 4px 0px;
}
body .image .flash_offer span{
    position: absolute;
    width: 60px;
    height: 18px;
    left: 9px;
    top: 4px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: white;
}
body .about .hotel_name p{
    position: absolute;
    width: 138px;
    height: 23px;
    left: 33px;
    top: 261px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: white;
}
body .about .room .address{
    position: absolute;
    width: 203px;
    height: 15px;
    left: 33px;
    top: 326px;
}
body .about .room .guests{
    position: absolute;
    width: 203px;
    height: 15px;
    left: 33px;
    top: 352px;
}
body .about .room .hotel_room{
    position: absolute;
    width: 203px;
    height: 15px;
    left: 33px;
    top: 378px;
}
body .about .room i{
    position: absolute;
    font-size: 14px;
    color: white;
}
body .about .room p{
    position: absolute;
    top: -13px;
    left: 28px;
    width: 175px;
    height: 15px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-size: 12px;
    color: white;
}
body .about .cost span{
    position: absolute;
    width: 58px;
    height: 18px;
    left: 32px;
    top: 417px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;    
    text-decoration-line: line-through;
    color:white;   
}
body .about .sale_cost span{
    position: absolute;
    width: 85px;
    height: 30px;
    left: 32px;
    top: 440px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color:white;
}
body .about .book_now button{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 209px;
    top: 435px;
    background: #EC1F46;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: white;
    cursor: pointer;
}